############################################################
# .NET / C#
############################################################
**/bin/
**/obj/
**/out/

############################################################
# Testes / Coverage
############################################################
**/TestResults/
**/coverage/
**/coverage_report/
**/*.coverage
**/*.coveragexml
**/coverage.opencover.xml

############################################################
# Logs
############################################################
**/*.log

############################################################
# User-specific files
############################################################
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

############################################################
# IDEs
############################################################
.vs/
.vscode/
.idea/
*.swp
*.swo

############################################################
# Rider
############################################################
.idea/

############################################################
# OS
############################################################
.DS_Store
Thumbs.db

############################################################
# Docker
############################################################
# **/.docker/
# docker-compose.override.yml

############################################################
# Azure DevOps / CI
############################################################
**/artifacts/
**/drop/

############################################################
# EF Core
############################################################
**/Migrations/**


